<div class="container">

  <section id="overview">
    <h2>Nuestra Compañía</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
  </section>

  <h2>Nuestro Equipo</h2>
  <section id="team">
    <div class="team-member">
      <img src="https://picsum.photos/id/22/500/500" alt="Team Member 1">
      <h3>John Doe</h3>
      <p>CEO</p>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/64/500/500" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>CTO</p>
    </div>
  </section>
</div>
