.tarea {
    border-radius: 1pc;
    background-color: rgb(211, 154, 68);
    width: 20pc;
    text-align: center;
    overflow: hidden;
}

.imagenPortada{
width: inherit;
position: relative;
margin-top: -10pc;
}

.fecha-usuarios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fecha{
    padding: 0.5pc;
    border-radius: 0.7pc;
}

.usuario {
    width: 3pc;
    height: 3pc;
    border-radius: 100%;
    margin-left: 1pc;
}

.gris {
    background-color: grey;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.naranja {
    background-color: orange;
}