<div>
    <form [formGroup]="LoginForm" (ngSubmit)="Login()">
        <!--Mensaje de error-->
        <div class="error" *ngIf="LoginForm.get('email')?.hasError('required') && LoginForm.get('email')?.touched">
            Email es requerido.
        </div>
        <div class="error" *ngIf="LoginForm.get('email')?.hasError('email') && LoginForm.get('email')?.touched">
            Email no es válido.
        </div>
        <!--Formulario-->
        <input type="mail" name="email" formControlName="email" placeholder="Correo">
        <input type="password" name="password" formControlName="password" placeholder="Contraseña">
        <input type="submit" [disabled]="LoginForm.invalid" value="Iniciar sesion">
    </form>
</div>