<div class="categorias" *ngIf="!formularioVisible">
    <div class="categoria">
        <h3>
            Pendientes
        </h3>
        <app-tarea *ngFor="let tarea of obtenerPendientes()" [tarea]="tarea" [listas]="listas" (click)="toggleFormulario(tarea)"></app-tarea>
        <button class="tarea" (click)="toggleFormulario(tareaSeleccionada)">
            + Añadir tarea nueva ...
        </button>
    </div>
    <div class="categoria">
        <h3>
            Progreso
        </h3>
        <app-tarea *ngFor="let tarea of obtenerProgreso()" [tarea]="tarea" [listas]="listas" (click)="toggleFormulario(tarea)"></app-tarea>
        <button class="tarea" (click)="toggleFormulario(tareaSeleccionada)">
            + Añadir tarea nueva ...
        </button>
    </div>
    <div class="categoria">
        <h3>
            Finalizadas
        </h3>
        <app-tarea *ngFor="let tarea of obtenerFinalizadas()" [tarea]="tarea" [listas]="listas" (click)="toggleFormulario(tarea)"></app-tarea>
        <button class="tarea" (click)="toggleFormulario(tareaSeleccionada)">
            + Añadir tarea nueva ...
        </button>
    </div>
</div>
<div *ngIf="formularioVisible">
    <app-tarea-form [listas]="listas" [tarea]="tareaSeleccionada"></app-tarea-form>
</div>