<div>
    <form [formGroup]="RegisterForm" (ngSubmit)="Registrar()">
        <!--Mensaje de error-->
        <div class="error" *ngIf="RegisterForm.get('email')?.hasError('required') && RegisterForm.get('email')?.touched">
            Email es requerido.
        </div>
        <div class="error" *ngIf="RegisterForm.get('email')?.hasError('email') && RegisterForm.get('email')?.touched">
            Email no es válido.
        </div>
        <!--Formulario-->
        <input type="email" name="email" formControlName="email" placeholder="Correo">
        <input type="password" name="password" formControlName="password" placeholder="Contraseña">
        <input type="password" name="repeat_password" formControlName="repeat_password" placeholder="Repetir contraseña">
        <input type="submit" [disabled]="RegisterForm.invalid" value="Registrar">
    </form>
</div>